{% extends "base_generic.html" %}
{% block content %}
  <title>{{func_name}}</title>
  <h3>{{func_name}}</h3>
  <a href='/queries/'>Go back</a><br>
  <p><i>{{descr}}</i></p>
  <p>Results:</p><br>
  {%if func_name == "function01"%}
    <table style="width:100%">
      <tr>
        <th>Sevice Request Type</th>
        <th>Total Requests</th>
      </tr>
    {%for i in res%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
      </tr>
    {%endfor%}
    </table>

  {%elif func_name == "function02"%}
    <table style="width:100%">
      <tr>
        <th>Date</th>
        <th>Total Requests</th>
      </tr>
      {%for i in res%}
        <tr>
          <th>{{i.0}}</th>
          <th>{{i.1}}</th>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function03"%}
    <table style="width=100%">
      <tr>
        <th>ZIP code</th>
        <th>Sevice Request Type</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
          <td>{{i.1}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function04"%}
    <table style="width=100%">
      <tr>
        <th>Sevice Request Type</th>
        <th>Average Competion Time</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
          <td>{{i.1}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function05"%}
    <table style="width=100%">
      <tr>
        <th>Sevice Request Type</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function06"%}
    <table style="width=100%">
      <tr>
        <th>SSA</th>
        <th>Total Requests</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
          <td>{{i.1}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function07"%}
    <table style="width=100%">
      <tr>
        <th>Licence Plate</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function08"%}
    <table style="width=100%">
      <tr>
        <th>Color</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function09"%}
    <table style="width=100%">
      <tr>
        <th>Report ID</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function10"%}
    <table style="width=100%">
      <tr>
        <th>Report ID</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function11"%}
    <table style="width=100%">
      <tr>
        <th>Report ID</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>

  {%elif func_name == "function12"%}
    <table style="width=100%">
      <tr>
        <th>Police District</th>
      </tr>
      {%for i in res%}
        <tr>
          <td>{{i.0}}</td>
        </tr>
      {%endfor%}
    </table>
  {%endif%}
{% endblock %}
