{% extends "base_generic.html" %}

{% block content %}
  <title>{{title}}</title>
  <h1>DataBase Handling App</h1>
  <h2>Welcome</h2>
  <p><a href="/accounts/login/">Login</a></p>
  <p><a href="/signup/">Sign Up</a></p>
{% endblock %}
