<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{func_name}}</title>
  </head>
  <body>
    <h2>{{func_name}}</h2>
    <a href='/queries/'>Go back</a><br>
    <p><i>{{descr}}</i></p>
    <form method="POST" class="test_form">{% csrf_token %}
        {{ form.as_p }}
        {% if func_name == "Select Incident to Report" %}
          <button type="submit" class="save btn btn-default">Next</button>
        {% else %}
          <button type="submit" class="save btn btn-default">Submit</button>
        {% endif %}

    </form>
  </body>
</html>
