{% extends "base_generic.html" %}

{% block content %}
<title>{{title}}</title>
{% if user.is_authenticated %}
  <p>Hey, <b>{{username}} </b>
  <a href='/accounts/logout/'>(LogOut)</a><br></p>
  <h1>Queries</h1>
  <h3>CHOOSE AN ACTION</h3>
  <p><a href='/choose_incident/'>Report</a>: to report a new incident<br></p>
  <p><a href='/search'>Search</a>: to search for incidents<br><br></p>
  <h3>CHOOSE A FUNCTION</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><p><a href='/func1'>function01</a></p></td>
      <td><p>Total requests per service type created in a specified date range sorted in descending order</p></td>
    </tr>
    <tr>
      <td><p><a href='/func2'>function02</a></p></td>
      <td>Total requests for a selected service type in a specified date range</td>
    </tr>
    <tr>
      <td><p><a href='/func3'>function03</a></p></td>
      <td>Most common services per ZIP code for a specified day</td>
    </tr>
    <!-- <tr>
      <td><p><a href='/func4'>function04</a></p></td>
      <td>Average completion time per service type for a specified date range</td>
    </tr>
    <tr>
      <td><p><a href='/func5'>function05</a></p></td>
      <td>Most common service within box defined by given latitude and longitude limits for a specified day</td>
    </tr>
    <tr>
      <td><p><a href='/func6'>function06</a></p></td>
      <td>Top5 SSAs with the most total number of requests per day for a specified date range</td>
    </tr>
    <tr>
      <td><p><a href='/func7'>function07</a></p></td>
      <td>Licence plates of vehicles involved in 'Abandoned Vehicles Complaints' more than once</td>
    </tr>
    <tr>
      <td><p><a href='/func8'>function08</a></p></td>
      <td>Second most common color of vehicles involved in 'Abandoned Vehicles Complaints'</td>
    </tr>
    <tr>
      <td><p><a href='/func9'>function09</a></p></td>
      <td>'Rodent Baitings' request IDs with less than a given number of premises baited</td>
    </tr>
    <tr>
      <td><p><a href='/func10'>function10</a></p></td>
      <td>'Rodent Baitings' request IDs with less than a given number of premises with garbage</td>
    </tr>
    <tr>
      <td><p><a href='/func11'>function11</a></p></td>
      <td>'Rodent Baitings' request IDs with less than a given number of premises with rats</td>
    </tr>
    <tr>
      <td><p><a href='/func12'>function12</a></p></td>
      <td>Police districts that have handled 'Pot Holes' requests with more than one potholes filled and also handled 'Rodentn Baiting' requests with more than one number of premises baited on a specified day</td>
    </tr> -->
  </table>
{% endif %}
{% endblock %}
