{% extends "base_generic.html" %}

{% block content %}
<title>{{title}}</title>
{% if user.is_authenticated %}
  <p>{{func_name}}</p>
  <a href='/queries/'>Go back</a><br>
  <p><b>Results for <i>{{type}}</i> incidents</b></p><br>
  {%if type == "Abandoned Vehicle Complaint"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Licence Plates</th>
      <th>Model</th>
      <th>Color</th>
      <th>Days Parked</th>
      <th>Current Activity</th>
      <th>Most Recent Action</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
        <td>{{i.15}}</td>
        <td>{{i.16}}</td>
        <td>{{i.17}}</td>
        <td>{{i.18}}</td>
        <td>{{i.19}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Alley Lights Out"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Garbage Carts"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Number of Blank Carts Delivered</th>
      <th>Current Activity</th>
      <th>Most Recent Action</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
        <td>{{i.15}}</td>
        <td>{{i.16}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Graffiti Removal"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Surface Type</th>
      <th>Location</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
        <td>{{i.15}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Pot Holes Reported"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Number of Potholes Filled</th>
      <th>Current Activity</th>
      <th>Most Recent Action</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
        <td>{{i.15}}</td>
        <td>{{i.16}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Rodent Baiting"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Number of Premises Baited</th>
      <th>Number of Premises with Rats</th>
      <th>Number of Premises with Rats</th>
      <th>Current Activity</th>
      <th>Most Recent Action</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
        <td>{{i.15}}</td>
        <td>{{i.16}}</td>
        <td>{{i.17}}</td>
        <td>{{i.18}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Sanitation Code Complaints"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Violation Nature</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Lights Out All"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Lights Out One"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
      </tr>
    {%endfor%}
  </table>
  {%elif type == "Tree Debris"%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Location</th>
      <th>Current Activity</th>
      <th>Most Recent Action</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
        <td>{{i.15}}</td>
        <td>{{i.16}}</td>
      </tr>
    {%endfor%}
  </table>
  {%else%}
  <table style="width:100%">
    <tr>
      <th>Report ID</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Completion Date</th>
      <th>Street</th>
      <th>ZIP</th>
      <th>X</th>
      <th>Y</th>
      <th>Ward</th>
      <th>Police District</th>
      <th>Community Area</th>
      <th>SSA</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Location</th>
    </tr>
    {%for i in result%}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        <td>{{i.10}}</td>
        <td>{{i.11}}</td>
        <td>{{i.12}}</td>
        <td>{{i.13}}</td>
        <td>{{i.14}}</td>
      </tr>
    {%endfor%}
  </table>
  {%endif%}

{% endif %}
{% endblock %}
